<section class='impressum'>
    <div>
        <h1>Impressum</h1>
        <p>Angaben gemäß § 5 DDG</p>
        <p>Pascal Nehlsen <br>
            Lüffringhauser Weg 12<br>
            42929 Wermelskirchen <br>
        </p>
        <p> <strong>Vertreten durch: </strong><br>
            Pascal Nehlsen<br>
        </p>
        <p><strong>Kontakt:</strong> <br>
            Telefon: 0170-123456<br>
            E-Mail: <a class="email" href='mailto:pascal_nehlsen@web.de'>pascal_nehlsen(at)web.de</a></p>
        <p><strong>Haftungsausschluss: </strong><br><br><strong>Datenschutz</strong><br><br>
            Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich. Soweit auf
            unseren
            Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden, erfolgt
            dies,
            soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung nicht an
            Dritte weitergegeben. <br>
            Wir weisen darauf hin, dass die Datenübertragung im Internet (z.B. bei der Kommunikation per E-Mail)
            Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem Zugriff durch Dritte ist nicht
            möglich. <br>
            Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten durch Dritte zur Übersendung
            von
            nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit ausdrücklich
            widersprochen.
            Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der unverlangten Zusendung
            von
            Werbeinformationen, etwa durch Spam-Mails, vor.<br>
        </p><br>
        Website Impressum erstellt durch <a href="https://www.impressum-generator.de">impressum-generator.de</a> von der
        <a href="https://www.kanzlei-hasselbach.de/" rel="nofollow">Kanzlei Hasselbach</a>
    </div>

</section>