.hto-container {
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 32px;
  padding-right: 32px;
}

.description-container {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
  div {
    display: flex;
    width: fit-content;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    font-size: 32px;
    > img {
      height: 150px;
      width: 150px;
    }
  }
}
