<div class="hto-container fontRaleway">
  <h3>HOW TO ORDER</h3>
  <div class="description-container">
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/noodle.png"
        alt=""
      />
      Pick Your Noodle
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/broth.png"
        alt=""
      />
      Pick Your Broth
    </div>
    <div>
      <img
        src="./../../../assets/img/2_section_how_to_order/PNG/egg.png"
        alt=""
      />
      Pick Your Topping
    </div>
  </div>
</div>
